.post {
  margin: 0 auto;
  max-width: 35em;
  background-color: #fff;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
}
.post__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__contentText {
  font-weight: normal;
  padding: 15px 10px;
}
.post__contentTime {
  padding-right: 10px;
  color: gray;
}
.post__headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.post__avatar {
  margin-right: 15px;
}
.post__headerDelete {
  padding-right: 10px;
  color: lightgray !important;
}
.post__input {
  flex: 0.9;
  outline-width: 0;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}
.post__inputSignup {
  flex: 0.7;
  outline-width: 0;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}
.post__commentBox {
  display: flex;
  margin-top: 10px;
}
.post__button {
  flex: 0.1;
  border: none;
  color: dodgerblue;
  background-color: transparent;
  border-top: 1px solid lightgray;
}

.post__commentsHeader {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 10px;
  font-weight: normal;
}
.post__comment {
  flex: 1;
  padding: 3px 10px;
  color: gray;
}
.post__comment > strong {
  color: #000;
  font-size: 14px;
}

.post__buttonSignup {
  flex: 0.3;
  border: none;
  color: dodgerblue;
  background-color: transparent;
  border-top: 1px solid lightgray;
  outline-width: 0;
}

.post__commentContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 1px;
}
.post__commentContainer > small {
  color: lightgray;
  padding-top: 5px;
  padding-right: 5px;
}

.post__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px;
  color: rgb(38, 38, 38);
}
.post__icon {
  padding-right: 10px;
  font-size: 26px !important;
}
